div#weatherApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#weatherApp form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px #00000014;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 3rem 1rem;
  padding: 1rem;
}

div#weatherApp form label {
  font-size: 2rem;
  color: #595959;
  margin: 1rem;
}

div#weatherApp form input#weatherSearch {
  width: 75%;
  height: 2rem;
  border: 1px solid #595959;
  border-radius: 1rem;
  padding: 0 1.2rem;
  margin: 1rem 0 2rem !important;
  display: block;
}

div#weatherApp form input[type="submit"] {
  padding: 0.5rem 1rem;
  background: #595959;
  border-radius: 0;
  border: 2px solid #595959;
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

div#weatherApp form input[type="submit"]:hover,
div#weatherApp form input[type="submit"]:focus {
  padding: 0.5rem 1rem;
  background: #fff;
  color: #595959;
  border: 2px solid #595959;
  border-radius: 0;
}

section#weatherCurrentCondition > div {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 1rem;
  flex-wrap: wrap;
}
section#weatherCurrentCondition > div > div {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  width: 150px;
  border: 1px solid #ddd;
  box-shadow: 2px 3px 4px 1px #0000002b;
  border-radius: 5px;
  position: relative;
}
section#weatherCurrentCondition > div > div > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
section#weatherCurrentCondition > div > div > p:first-child {
  display: flex;
  margin-bottom: 0;
  font-size: 1.2rem;
  font-weight: bold;
}
section#weatherCurrentCondition > div > div > p:last-child {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

table#weatherClimate {
  text-align: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 2px 3px 4px 1px #0000002b;
  border-radius: 5px;
}
@media (max-width: 1023px) {
  th {
    min-width: 100px;
  }
}
.loader{
  width:100px;
  height: 100px;
  background-color: red;
}